:root {
  --primary: #01BBFF;
  --bg-primary: #0D1117;
  --bg-secondary: #161B22;
  --border: #21262D;
  --text-primary: #E0E0E0;
  --text-secondary: #7D8590;

  --button-bg: #28a745;
  --button-bg-hover: #218838;
  --button-bg-active: #1e7e34;
  --button-bg-disabled: #145222;

  --input-bg: #161B22;
  --input-text: #dbdbdb;
  --input-placeholder-text: #c9c9c9;
  --input-bg-target: #0D1117;
  --input-border: #30363D;
  --input-border-focus: #58A6FF;
  --input-focus-shadow: #388bfd4d;

  --white: #fff;
  --logo-bg: #fff;
}

.light-mode {
  --primary: #01BBFF;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F6F8FA;
  --border: #D0D7DE;
  --text-primary: #1F2328;
  --text-secondary: #656D76;
}