:host {
  button {
    position: relative;
    width: 2.7rem;
    height: 2.75rem;
    border: .5px solid var(--border);
    background-color: transparent;
    transition: all .5s ease;

    &:hover {
      background-color: var(--nav-border);
    }
  }
  
  #profileOptions {
    position: absolute;
    left: 95%;
    top: 75px;
    transform: translateX(-100%);
    background-color: var(--bg-secondary);
    border: 1.5px solid var(--border);
    border-radius: .5rem;
  }
}