<button
  type="button"
  class="profile fs-4 rounded-circle p-1"
  data-bs-toggle="collapse"
  href="#profileOptions"
  role="button"
  aria-expanded="false"
  aria-controls="profileOptions"
>
  <i class="bi bi-person"></i>
</button>
<div class="collapse collapse-horizontal" id="profileOptions">
  <ul class="fs-6 list-unstyled" style="width: 190px">
    <li class="list-group-item p-3 pb-0">
      <a routerLink="/profile">Perfil</a>
    </li>
    <li class="list-group-item p-3 pb-0">
      <a routerLink="/settings">Configurações</a>
    </li>
    <li class="list-group-item p-3 pb-0">
      <span role="button" (click)="logout()">Sair</span>
    </li>
  </ul>
</div>
