:root {
  /* Textos */
  --color-primary: #d4d4d4;
  --color-secondary: #acacac;

  /* Backgrounds */
  --bg-primary: #001336;
  --bg-secondary: #000e28;

    /* Buttons */
    --bg-btn: #00318a;
    --bg-btn-hover: #00256b;

    /* Forms */
    --bg-input: #00153b;
}
