* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: var(--text-primary) !important;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--bg-primary);
}

main {
  width: calc(100% - 2.5rem);
  max-width: 68.75rem;
  margin: auto;
}

form {
  max-width: 400px;
  margin: auto; 
}

h1 {
  font-weight: bold;
}

button.btn-primary {
  background: var(--button-bg);
  border: 1px solid var(--button-bg);
  margin-top: 1.25rem;

  &:hover {
    background: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
  }
}

.form-control {
  padding: 0.5rem 1rem;
  background-color: var(--input-bg);
  color: var(--input-text) !important;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  outline: none;
  transition: all 0.2s;

  &:focus,
  &:active,
  &:target {
    background-color: var(--input-bg-target);
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 3px var(--input-focus-shadow);
  }
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-placeholder-text) !important;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--input-placeholder-text) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--input-placeholder-text) !important;
}